/* Fonts Start*/
@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Light.ttf) format("truetype");
}
@font-face {
    font-family: 'Lora Palmer';
    src: url(../fonts/Lora-Medium.ttf) format('truetype');
}
@font-face { 
    font-family: 'Canela Bold';
    src: url(../fonts/canela_bold.otf) format("opentype");
    font-weight: bold;
} 
@font-face {
    font-family: 'Canela Roman';
    src: url(../fonts/canela_roman.otf) format("opentype");
}
@font-face {
    font-family: 'Canela Light';
    src: url(../fonts/canela_light.otf) format("opentype");
}
@font-face {
    font-family: 'Druk Wide Bold';
    src: url(../fonts/Druk_Wide_Bold.otf) format("opentype");
    font-weight: bold;
}
@font-face {
    font-family: 'Druk Wide Medium';
    src: url(../fonts/Druk\ Wide\ Medium.otf) format("opentype");
}
@font-face {
    font-family: 'Plain Baltica';
    src: url(../fonts/baltica_plain.otf) format("opentype");
}
/* Fonts End */

/* Header Start */
header {
    background-color: #fff;
    border-bottom: 1px solid #DEDEDE;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}
header .header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    
}
header .menu li a {
    color: #797979;
    font-size: 16px;
    font-weight: 400;
    margin: 0 25px;
    transition: all;
    transition-duration: 0.3s;
}
header .menu li a:hover {
    color: #000;
}
header #logo a {
    font-family: 'Druk Wide Bold';
    color: #000;
    font-size: 25px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
header #logo a img {
    display: block;
    margin-right: 5px;
    transition: all;
    transition-duration: 0.3s;
}
header #logo a i.line-logo {
    height: 30px;
    width: 1px;
    background-color: #000;
    margin-right: 5px;
}
/* Header End */

/* Showcase Start */
#video-main {
    width: 100%;
    height: auto;
    max-height: 90vh;
    object-fit: cover;
}
.video-wrapper #video-main {
    position: relative;
}
.video-wrapper .play-vid {
    display: none;
}
.video-wrapper i {
    color: #E0E1CD;
    font-size: 25px;
}
.video-wrapper .video-control {
    background-color: #000;
    border: 2px solid #E0E1CD;
    cursor: pointer;
    padding: 18px 20px;
    border-radius: 50%;
    position: absolute;
    bottom: 150px;
    right: 100px;
}
.showcase-text-wrapper {
    position: absolute;
    bottom: 220px;
    left: 40px;
    max-width: 500px;
    font-family: 'Druk Wide Bold';
}
.showcase-text-wrapper p {
    font-size: 44px;
}
.showcase-text-wrapper h2 {
    font-size: 18px;
    font-family: 'Plain Baltica';
    margin-top: 10px;
    margin-bottom: 30px;
}
.showcase-text-wrapper p:first-child {
    color: #000;
    font-family: 'Plain Baltica';
    font-size: 50px;
    font-style: italic;

}
.showcase-text-wrapper a {
    font-family: 'Plain Baltica';
    background-color: #000;
    color: #fff;
    font-size: 16px;
    padding: 15px 30px;
    border-radius: 10px;
    transition: all;
    transition-duration: 0.3s;
}
.showcase-text-wrapper a:hover {
    opacity: 0.75;
}
/* Showcase End */

/* Products Main Start */
.products-main {
    background-color: #fff;
    margin-top: 50px;
    position: relative;
    padding-bottom: 71px;
}
.product-main-title {
    max-width: 550px;
    width: 100%;
    margin: 0 auto;
}
.product-main-title h2 span {
    font-family: 'Plain Baltica';
    font-size: 40px;
    font-style: italic;
    letter-spacing: -2px;
}
.product-main-title h2 {
    font-family: 'Druk Wide Medium';
    font-weight: 400;
    font-size: 40px;
}
.product-main-title p {
    font-family: 'Plain Baltica';
    font-size: 17px;
    line-height: 23px;
}
.product-main-line {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 250px;
}
.product-main-line .bg-img {
    position: absolute;
}
.product-main-line .bg-img.first {
    left: 0;
    bottom: 0;
}
.product-main-line .bg-img.second {
    right: 0;
    bottom: 0;
}
.product-main-line article {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #F8F7F3;
    position: relative;

}
.product-main-line article:first-of-type .img-main-line {
    position: absolute;
    right: -180px;
    top: -200px;

}
.product-main-line article:last-of-type .img-main-line {
    position: absolute;
    top: -200px;
    left: -200px;
}
/* .product-main-line .product-article-main {
    background-color: #F8F7F3;
    padding: 30px 45px 30px 200px;
} */
.product-main-line article:first-of-type {
    border-radius: 30px 0 0 30px;
}
.product-main-line article:last-of-type {
    border-radius: 0px 30px 30px 0;
}
.product-main-line article .product-text-main h3 {
    font-family: 'Druk Wide Medium';
    font-size: 17px;
    font-weight: 400px;
    margin-bottom: 20px;
}
.product-main-line article .product-text-main p {
    font-family: 'Plain Baltica';
    font-style: italic;
    font-size: 17px;
    font-weight: 100;
}
.product-main-line article .product-text-main p span {
    margin-right: 10px;
}
.product-main-line article .product-text-main a {
    z-index: 9;
    text-decoration: none;
    color: #737D2F;
    border: 1px solid #737D2F;
    font-family: 'Plain Baltica';
    padding: 5px 20px;
    font-weight: 500;
    display: inline-block; 
    border-radius: 5px;
    transition: all;
    transition-duration: 0.3s;
}
.product-main-line article .product-text-main a:hover {
    background-color: #737D2F;
    color: #fff;
}
body > section.products-main > div.product-main-line.container > article:nth-child(2) > div.product-text-main > a {
    top: 73px;
    position: absolute;
}
.product-main-line article:first-child .product-text-main a {
    top: 72px;
}
.product-main-line article:first-of-type .product-text-main {
    padding: 35px 160px 35px 45px
}
.product-main-line article:first-child div a {
    position: absolute;
    z-index: 19;
}
.product-main-line article:last-of-type .product-text-main {
    padding: 30px 45px 30px 100px;
}
.product-text-main div {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
}
/* Products Main End */

/* Products Sale Start */
.product-sale-wrapper {
    background-color: #F8F7F3;
    padding: 80px 0;
}
.sale-product-main img {
    width: 100%;
}
.product-sale-text {
    width: 60%;
    box-sizing: border-box;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.product-sale-img img {
    border-radius: 0 40px 40px 0;
    transition: all;
    transition-duration: 0.5s;
}
.product-sale-img {
    width: 40%;
    box-sizing: border-box;
}
.sale-product-main {
    display: block;
    background-color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: row;
    border-radius: 40px;
    position: relative;
    transition: all;
    transition-duration: 0.5s;
}
.product-sale-text h3 {
    font-size: 35px;
    margin-bottom: 10px;
}
.product-sale-text p {
    font-size: 30px;
}
.product-sale-text p span{
    text-decoration: line-through;
    color: #676767;
    text-decoration-color: #FC5E33;
    margin-left: 10px;
}
.title {
    font-family: 'Druk Wide Medium';
    color: #000;
}
.sale-descript {
    color: #000;
    font-family: 'Plain Baltica';
    font-style: italic;
    font-size: 18px;
    letter-spacing: -1px;
}
.product-sale-text img {
    position: absolute;
    width: auto;
    right: 37%;
    top: 20%;
    transform: rotate(40deg);
    z-index: 2;
}
.product-sale-img span {
    display: block;
    overflow: hidden;
    border-radius: 0px 40px 40px 0px;
}
.sale-product-main:hover .product-sale-img img {
    transform: scale(1.1);
}
.sale {
    text-decoration: line-through;
    color: #676767;
    text-decoration-color: #FC5E33;
    text-decoration-thickness: 2px;
}
/* Products Sale End */

/* Products Twig Start */
.kit-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 30px;
}
.kit-item {
    display: inline-block;
    width: 32%;
    background-color: #fff;
    border-radius: 40px;
    box-sizing: border-box;
    transition: all;
    transition-duration: 0.5s;
    position: relative;
}
a.kit-item:hover .kit-img img {
    transform: scale(1.1);
}
.kit-item img {
    width: 100%;
    height: 100%;
}
.kit-img {
    overflow: hidden;
    border-radius: 40px  40px 0 0;
}
.kit-img img {
    transition: all;
    transition-duration: 0.5s;
}
.kit-text {
    padding: 20px 25px;
}
.kit-text h3 {
    font-size: 17px;
}
.kit-text p {
    display: inline-block;
    font-family: 'Druk Wide Medium';
    font-size: 17px;
    color: #000;
}
.kit-text .kit-descript  {
    clear: both;
    font-family: 'Plain Baltica';
    font-size: 18px;
    font-style: italic;
    margin-top: 10px;
    font-weight: thin;
}
.kit-wrapper article {
    padding: 50px;
}
.kit-wrapper article h3 {
    font-size: 23px;
    line-height: 1.3;
    margin-bottom: 20px;
}
.kit-wrapper article p {
    font-size: 17px;
    line-height: 1.3;
    font-weight: 400;
    margin-bottom: 30px;
}
.kit-wrapper article a {
    margin-top: 170px;
    display: inline-block;
    color: #626E21;
    border: 1px solid #626E21;
    border-radius: 7px;
    padding: 20px 40px;
    font-family: 'Plain Baltica';
    transition: all;
    transition-duration: 0.5s;
}
.kit-wrapper article a:hover {
    background-color: #626E21;
    color: #fff;
}
/* Products Twig End */

/* Slider Start */
.swiper-slide img {
    width: 100%;
}
.slider-img-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-top: 130px;
    padding-bottom: 80px;
}
.slider-img {
    width: 40%;
    box-sizing: border-box;
    position: relative;
}
.slider-bkg {
    position: absolute;
    top: 56%;
    left: 30%;
    transform: translate(-50%, -50%);
    z-index: -1;
    width: unset !important;
}
.slider-pic-wrapper img {
    border-radius: 40px;
    width: auto;
}
.slider-pic-wrapper {
    width: 50%;
    margin: auto;
}
.slider-text {
    width: 40%;
    box-sizing: border-box;
}
.main-title {
    position: absolute;
    top: 14%;
    left: 50%;
    font-family: 'Druk Wide Bold';
    font-size: 20px;
}
.swiper-slide p.review-text {
    font-family: 'Canela Roman';
    font-style: italic;
    font-size: 30px;
    margin: 50px 0;
    line-height: 38px;
}
.review-author {
    margin-bottom: 10px;
}
.review-author, .review-company {
    font-family: 'Plain Baltica';
    font-size: 16px;
    color: #676767;
    font-weight: 100;
}
.swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
    position: absolute;
    bottom: 11.3%;
    left: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
    border: 1px solid #E0E1CD;
    max-width: fit-content;
    margin: auto;
    padding: 7px 5px;
    border-radius: 20px;
}
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet-active {
    background-color: #DFE4C7 !important;
    border: 7px solid #626E21 !important;
    padding: 3px !important;
}
.swiper-pagination-bullet {
    background-color: #626E21;
}
.swiper-pagination-horizontal.swiper-pagination-bullets > .swiper-pagination-bullet {
    background-color: #626E21;
    margin: 0 10px;
}
.swiper-pagination-bullet {
    background: unset;
    opacity: unset;
}
/* Slider End */

/* Instagram Start */
.insta-wrapper {
    background-color: #F8F7F3;
    padding: 80px;
}
.insta-photos img {
    width: 100%;
}
.insta-title {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin-bottom: 80px;
}
.insta-title h5 {
    font-family: 'Plain Baltica';
    font-style: italic;
    font-size: 27px;
}
.insta-title h5 span {
    font-size: 30px;
    margin-top: 5px;
    display: block;
    font-style: normal;
}
.insta-title .insta-link p {
    font-size: 20px;
    font-family: 'Plain Baltica';
}
.insta-title .insta-link a {
    margin-top: 20px;
    display: block;
    border: 1px solid #626E21;
    padding: 20px 40px;
    border-radius: 8px;
    color: #626E21;
    font-family: 'Plain Baltica';
    font-size: 16px;
    text-transform: capitalize;
    transition: all;
    transition-duration: 0.5s;
}
.insta-title .insta-link a:hover {
    background-color: #626E21;
    color: #fff;
}
.insta-photos.row > .material-placeholder:first-child {
    background: red;
}
/* Instgran End */

/* Footer Start */
footer {
    background-color: #626E21;
}
.footer-content {
    padding-top: 80px;
    padding-bottom: 40px;
    margin-bottom: 0;
}
footer .email-footer h6 {
    color: #e1e0cc;
    font-size: 34px;
}
footer .email-footer h6 span {
    font-family: 'Plain Baltica';
    font-style: italic;
    font-weight: 100;
    font-size: 27px;
}
footer .email-footer form {
    position: relative;
    display: inline-block;
    max-width: fit-content;
    margin-top: 30px;
}
footer .email-footer form input {
    border: 1px solid #E0E1CD !important;
    border-radius: 8px !important;
    padding: 5px 20px !important;
    width: 370px !important;
    font-family: 'Plain Baltica';
    color: #E0E1CD;
    font-size: 14px;
}
footer .email-footer form input::placeholder {
    top: 4px;
    position: absolute;
    font-size: 13px;
    font-family: 'Roboto';
    text-transform: capitalize;
}
footer .email-footer form button {
    border: none;
    color: #626E21;
    background-color: #E0E1CD;
    font-family: 'Plain Baltica';
    border-radius: 5px;
    padding: 12px 20px;
    cursor: pointer;
    position: absolute;
    top: 8px;
    right: 10px;
}
footer .footer-menu .menu li a {
    color: #E0E1CD;
    margin: 15px 0;
    font-size: 17px;
    display: block;
}
footer .copy {
    clear: both;
}
footer .copy p {
    color: #E0E1CD;
    font-family: 'Lora Palmer';
    font-size: 13px;
}
 /* Footer End */