/* Fonts Start*/
@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Light.ttf) format("truetype");
}
@font-face {
    font-family: 'Lora Palmer';
    src: url(../fonts/Lora-Medium.ttf) format('truetype');
}
@font-face { 
    font-family: 'Canela Bold';
    src: url(../fonts/canela_bold.otf) format("opentype");
    font-weight: bold;
} 
@font-face {
    font-family: 'Canela Roman';
    src: url(../fonts/canela_roman.otf) format("opentype");
}
@font-face {
    font-family: 'Canela Light';
    src: url(../fonts/canela_light.otf) format("opentype");
}
@font-face {
    font-family: 'Druk Wide Bold';
    src: url(../fonts/Druk_Wide_Bold.otf) format("opentype");
    font-weight: bold;
}
@font-face {
    font-family: 'Druk Wide Medium';
    src: url(../fonts/Druk\ Wide\ Medium.otf) format("opentype");
}
@font-face {
    font-family: 'Plain Baltica';
    src: url(../fonts/baltica_plain.otf) format("opentype");
}
/* Fonts End */

/* Scrollbar */
body { 
    scrollbar-face-color:red ; 
    scrollbar-shadow-color: #ffffff;
    scrollbar-highlight-color: #ffffff;
    scrollbar-3dlight-color: #5997CA;
    scrollbar-darkshadow-color: #5997CA; 
    scrollbar-track-color: #F6F6F6;
    scrollbar-arrow-color: #F6F6F6; 
} 
/* Scrollbar */

/* Header Start */
header {
    background-color: #fff;
    border-bottom: 1px solid #DEDEDE;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    transition: all;
    transition-duration: 0.5s;
    border-bottom: 1px solid #DEDEDE;
}
header .header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    
}
header .menu li a {
    color: #797979;
    font-size: 16px;
    font-weight: 400;
    margin: 0 25px;
    transition: all;
    transition-duration: 0.3s;
}
header .menu li a:hover {
    color: #000;
}
header #logo a, .sidenav #logo a {
    font-family: 'Druk Wide Bold';
    color: #000;
    font-size: 25px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
header #logo a img, .sidenav #logo a img {
    display: block;
    margin-right: 5px;
    transition: all;
    transition-duration: 0.3s;
}
header #logo a i.line-logo, .sidenav #logo a i.line-logo {
    height: 30px;
    width: 1px;
    background-color: #000;
    margin-right: 5px;
}
/* Header End */

/* Showcase Start */
#video-main {
    width: 100%;
    height: auto;
    max-height: 90vh;
    object-fit: cover;
}
.video-wrapper {
    position: relative;
}
.video-wrapper .play-vid {
    display: none;
}
.video-wrapper i {
    color: #E0E1CD;
    font-size: 25px;
}
.video-wrapper .video-control {
    background-color: #000;
    border: 2px solid #E0E1CD;
    cursor: pointer;
    padding: 18px 20px;
    border-radius: 50%;
    position: absolute;
    bottom: 50px;
    right: 100px;
}
.showcase-text-wrapper {
    position: absolute;
    bottom: 220px;
    left: 40px;
    max-width: 500px;
    font-family: 'Druk Wide Bold';
}
.showcase-text-wrapper p {
    font-size: 44px;
}
.showcase-text-wrapper h2 {
    font-size: 18px;
    font-family: 'Plain Baltica';
    margin-top: 10px;
    margin-bottom: 30px;
}
.showcase-text-wrapper p:first-child {
    color: #000;
    font-family: 'Plain Baltica';
    font-size: 50px;
    font-style: italic;

}
.showcase-text-wrapper a {
    font-family: 'Plain Baltica';
    background-color: #000;
    color: #fff;
    font-size: 16px;
    padding: 15px 30px;
    border-radius: 10px;
    transition: all;
    transition-duration: 0.3s;
}
.showcase-text-wrapper a:hover {
    opacity: 0.75;
}
/* Showcase End */

/* Products Main Start */
.products-main {
    background-color: #fff;
    margin-top: 50px;
    position: relative;
    padding-bottom: 71px;
}
.background-left {
    background-image: url(../images/leafmain1.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    position: absolute;
    width: 300px;
    height: 300px;
    bottom: 0;
    left: 0;
} 
.background-right {
    background-image: url(../images/leafmain2.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 700px;
    height: 650px;
}
.product-main-title {
    max-width: 550px;
    width: 100%;
    margin: 0 auto;
}
.product-main-title h2 span {
    font-family: 'Plain Baltica';
    font-size: 40px;
    font-style: italic;
    letter-spacing: -2px;
}
.product-main-title h2 {
    font-family: 'Druk Wide Medium';
    font-weight: 400;
    font-size: 40px;
}
.product-main-title p {
    font-family: 'Plain Baltica';
    font-size: 17px;
    line-height: 23px;
}
.product-main-line {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 250px;
}
.product-main-line .bg-img {
    position: absolute;
}
.product-main-line .bg-img.first {
    left: 0;
    bottom: 0;
}
.product-main-line .bg-img.second {
    right: 0;
    bottom: 0;
}
.product-main-line article {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #F8F7F3;
    position: relative;
    z-index: 3;

}
.product-main-line article:first-of-type .img-main-line {
    position: absolute;
    right: -180px;
    top: -200px;

}
.product-main-line article:last-of-type .img-main-line {
    position: absolute;
    top: -200px;
    left: -200px;
}
/* .product-main-line .product-article-main {
    background-color: #F8F7F3;
    padding: 30px 45px 30px 200px;
} */
.product-main-line article:first-of-type {
    border-radius: 30px 0 0 30px;
}
.product-main-line article:last-of-type {
    border-radius: 0px 30px 30px 0;
}
.product-main-line article .product-text-main h3 {
    font-family: 'Druk Wide Medium';
    font-size: 17px;
    font-weight: 400px;
    margin-bottom: 20px;
}
.product-main-line article .product-text-main p {
    font-family: 'Plain Baltica';
    font-style: italic;
    font-size: 17px;
    font-weight: 100;
}
.product-main-line article .product-text-main p span {
    margin-right: 10px;
}
.product-main-line article .product-text-main a {
    z-index: 9;
    text-decoration: none;
    color: #737D2F;
    border: 1px solid #737D2F;
    font-family: 'Plain Baltica';
    padding: 5px 20px;
    font-weight: 500;
    display: inline-block; 
    border-radius: 5px;
    transition: all;
    transition-duration: 0.3s;
    min-width: max-content;
}
.product-main-line article .product-text-main a:hover {
    background-color: #737D2F;
    color: #fff;
}
body > section.products-main > div.product-main-line.container > article:nth-child(2) > div.product-text-main > a {
    top: 73px;
    position: absolute;
}
.product-main-line article:first-child .product-text-main a {
    top: 72px;
}
.product-main-line article:first-of-type .product-text-main {
    padding: 35px 160px 35px 45px;
}
.product-main-line article:first-child div a {
    position: absolute;
    z-index: 19;
}
.product-main-line article:last-of-type .product-text-main {
    padding: 30px 45px 30px 100px;
}
.product-text-main div {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
}
/* Products Main End */

/* Products Sale Start */
.product-sale-wrapper {
    background-color: #F8F7F3;
    padding: 80px 0;
}
.sale-product-main img {
    width: 100%;
}
.product-sale-text {
    width: 60%;
    box-sizing: border-box;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}
.product-sale-img img {
    border-radius: 0 40px 40px 0;
    transition: all;
    transition-duration: 0.5s;
}
.product-sale-img {
    width: 40%;
    box-sizing: border-box;
}
.sale-product-main {
    display: block;
    background-color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: row;
    border-radius: 40px;
    position: relative;
    transition: all;
    transition-duration: 0.5s;
    flex-wrap: wrap;
}
.product-sale-text h3 {
    font-size: 35px;
    margin-bottom: 10px;
}
.product-sale-text p {
    font-size: 30px;
}
.product-sale-text p span{
    text-decoration: line-through;
    color: #676767;
    text-decoration-color: #FC5E33;
    margin-left: 10px;
}
.title {
    font-family: 'Druk Wide Medium';
    color: #000;
}
.sale-descript {
    color: #000;
    font-family: 'Plain Baltica';
    font-style: italic;
    font-size: 18px;
    letter-spacing: -1px;
}
.product-sale-text img {
    position: absolute;
    width: auto;
    right: 37%;
    top: 20%;
    transform: rotate(40deg);
    z-index: 2;
}
.product-sale-img span {
    display: block;
    overflow: hidden;
    border-radius: 0px 40px 40px 0px;
}
.sale-product-main:hover .product-sale-img img {
    transform: scale(1.1);
}
.sale {
    text-decoration: line-through;
    color: #676767;
    text-decoration-color: #FC5E33;
    text-decoration-thickness: 2px;
}
/* Products Sale End */

/* Products Twig Start */
.kit-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 30px;
    flex-wrap: wrap;
}
.kit-item {
    display: inline-block;
    width: 32%;
    background-color: #fff;
    border-radius: 40px;
    box-sizing: border-box;
    transition: all;
    transition-duration: 0.5s;
    position: relative;
    margin: 0 auto;
}
a.kit-item:hover .kit-img img {
    transform: scale(1.1);
}
.kit-item img {
    width: 100%;
    height: 100%;
}
.kit-img {
    overflow: hidden;
    border-radius: 40px  40px 0 0;
}
.kit-img img {
    transition: all;
    transition-duration: 0.5s;
}
.kit-text {
    padding: 20px 25px;
}
.kit-text h3 {
    font-size: 17px;
}
.kit-text p {
    display: inline-block;
    font-family: 'Druk Wide Medium';
    font-size: 17px;
    color: #000;
}
.kit-text .kit-descript  {
    clear: both;
    font-family: 'Plain Baltica';
    font-size: 18px;
    font-style: italic;
    margin-top: 10px;
    font-weight: thin;
}
.kit-wrapper article {
    padding: 50px;
}
.kit-wrapper article h3 {
    font-size: 23px;
    line-height: 1.3;
    margin-bottom: 20px;
}
.kit-wrapper article p {
    font-size: 17px;
    line-height: 1.3;
    font-weight: 400;
    margin-bottom: 30px;
}
.kit-wrapper article a {
    margin-top: 170px;
    display: inline-block;
    color: #626E21;
    border: 1px solid #626E21;
    border-radius: 7px;
    padding: 20px 40px;
    font-family: 'Plain Baltica';
    transition: all;
    transition-duration: 0.5s;
    min-width: max-content;
}
.kit-wrapper article a:hover {
    background-color: #626E21;
    color: #fff;
}
/* Products Twig End */

/* Slider Start */
.swiper-slide img {
    width: 100%;
}
.slider-wrapper {
    position: relative;
}
.slider-img-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-top: 130px;
    padding-bottom: 80px;
    flex-wrap: wrap;
}
.slider-title {
    margin-top: 130px;
}
.slider-img {
    width: 40%;
    box-sizing: border-box;
    position: relative;
    background-image: url(../images/leafbag.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    padding: 40px 0;
}
.slider-bkg {
    position: absolute;
    top: 56%;
    left: 30%;
    transform: translate(-50%, -50%);
    z-index: -1;
    width: unset !important;
}
.slider-pic-wrapper img {
    border-radius: 40px;
    width: 100%;
}
.slider-pic-wrapper {
    width: 55%;
    margin: auto;
}

.slider-text {
    width: 40%;
    box-sizing: border-box;
}
.main-title {
    position: absolute;
    top: 22%;
    left: 50%;
    font-family: 'Druk Wide Bold';
    font-size: 20px;
}
.swiper-slide p.review-text {
    font-family: 'Canela Roman';
    font-style: italic;
    font-size: 30px;
    margin: 50px 0;
    line-height: 38px;
}
.review-author {
    margin-bottom: 10px;
}
.review-author, .review-company {
    font-family: 'Plain Baltica';
    font-size: 16px;
    color: #676767;
    font-weight: 100;
}
.swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
    position: absolute;
    bottom: 11.3%;
    left: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
    border: 1px solid #E0E1CD;
    margin: auto;
    padding: 7px 5px;
    border-radius: 20px;
    max-width: min-content;
}
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet-active {
    background-color: #DFE4C7 !important;
    border: 7px solid #626E21 !important;
    padding: 3px !important;
}
.swiper-pagination-bullet {
    background-color: #626E21;
}
.swiper-pagination-horizontal.swiper-pagination-bullets > .swiper-pagination-bullet {
    background-color: #626E21;
    margin: 0 10px;
}
.swiper-pagination-bullet {
    background: unset;
    opacity: unset;
}
/* Slider End */

/* Instagram Start */
.insta-wrapper {
    background-color: #F8F7F3;
    padding: 80px;
}
.insta-photos img {
    width: 100%;
}
.insta-title {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin-bottom: 80px;
}
.insta-title h5 {
    font-family: 'Plain Baltica';
    font-style: italic;
    font-size: 27px;
}
.insta-title h5 span {
    font-size: 30px;
    margin-top: 5px;
    display: block;
    font-style: normal;
}
.insta-title .insta-link p {
    font-size: 20px;
    font-family: 'Plain Baltica';
}
.insta-title .insta-link a {
    margin-top: 20px;
    display: block;
    border: 1px solid #626E21;
    padding: 20px 40px;
    border-radius: 8px;
    color: #626E21;
    font-family: 'Plain Baltica';
    font-size: 16px;
    text-transform: capitalize;
    transition: all;
    transition-duration: 0.5s;
}
.insta-title .insta-link a:hover {
    background-color: #626E21;
    color: #fff;
}
.insta-photos.row > .material-placeholder:first-child {
    background: red;
}
/* Instgran End */

/* Mobile Menu */
.sidenav .menu {
    display: block !important;
    margin-top: 70px;
    position: relative;
} 
.sidenav .logo {
    position: absolute;
    display: flex;
    justify-content: space-between;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 100%;
    padding: 0 28px;
    align-items: center;
}
#closenav a i {
    display: inline-block;
    font-size: 40px;
    color: #000;
}
.sidenav {
    z-index: 200;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#slide-out {
    width: 100vw;
}
.mobile-account {
    color: #747E31;
    border-radius: 10px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    font-family: 'Plain Baltica';
    border: 1px solid #606B13;
    padding: 17px 0 !important;
    margin-bottom: 20px;
    font-size: 17px;
    transition: all;
    transition-duration: 0.5s;
}
.sidenav-trigger {
    display: none;
}
.mobile-account:hover {
    background: #606B13;
    color: #fff;
}
.sidenav .menu li {
    border-bottom: 1px solid #DEDEDE;
}
.sidenav .menu li a {
    font-family: 'Plain Baltica';
    color: #676767;
    font-size: 17px;
}
.sidenav-overlay {
    z-index: 21;
}
#closenav {
    display: inline-block;
}
/* Mobile Menu */

/* Footer Start */
footer {
    background-color: #626E21;
}
.footer-content {
    padding-top: 80px;
    padding-bottom: 40px;
    margin-bottom: 0;
}
footer .email-footer h6 {
    color: #e1e0cc;
    font-size: 34px;
}
footer .email-footer h6 span {
    font-family: 'Plain Baltica';
    font-style: italic;
    font-weight: 100;
    font-size: 27px;
}
footer .email-footer form {
    position: relative;
    display: inline-block;
    max-width: fit-content;
    margin-top: 30px;
}
footer .email-footer form input {
    border: 1px solid #E0E1CD !important;
    border-radius: 8px !important;
    padding: 5px 20px !important;
    width: 370px !important;
    font-family: 'Plain Baltica';
    color: #E0E1CD;
    font-size: 14px;
}
footer .email-footer form input::placeholder {
    top: 4px;
    position: absolute;
    font-size: 13px;
    font-family: 'Roboto';
    text-transform: capitalize;
}
footer .email-footer form button {
    border: none;
    color: #626E21;
    background-color: #E0E1CD;
    font-family: 'Plain Baltica';
    border-radius: 5px;
    padding: 12px 20px;
    cursor: pointer;
    position: absolute;
    top: 8px;
    right: 10px;
}
footer .footer-menu .menu li a {
    color: #E0E1CD;
    margin: 15px 0;
    font-size: 17px;
    display: block;
}
footer .copy {
    clear: both;
}
footer .copy p {
    color: #E0E1CD;
    font-family: 'Lora Palmer';
    font-size: 13px;
}
 /* Footer End */

/* About Page Start */

/* Modern Design Start */
.modern-design-wrapper .modern-img img {
    width: 100%;
}
.modern-title {
    max-width: 750px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 100px;
}
.modern-title h1 {
    font-size: 40px;
    margin-top: -20px;
}
.modern-title h1 span {
    font-family: 'Plain Baltica';
    font-style: italic;
}
/* Modern Design End */

/* Instructions Start */
.instruction-wrapper {
    max-width: 1400px;
    margin: 0 0 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    position: relative;
    padding: 100px 0;
}
.instruction-wrapper img {
    width: 100%;
}
.instruction-text {
    width: 30%;
}
.instruction-text h2 {
    font-size: 34px;
}
.instruction-text h2 span {
    font-family: 'Plain Baltica';
    font-style: italic;
    letter-spacing: -2px;
}
.instruction-text p {
    font-size: 16px;
    font-family: 'Plain Baltica';
    line-height: 25px;
    padding: 15px 0;
}
.instruction-text a {
    font-family: 'Plain Baltica';
    font-size: 16px;
    padding: 20px 40px;
    border: 1px solid #606B13;
    color: #606B13; 
    border-radius: 7px;
    text-transform: capitalize;
    display: inline-block;
    transition: all;
    transition-duration: 0.5s;
}
.instruction-text a:hover {
    background: #606B13;
    color: #fff;
}
.instruction-img-wrapper {
    width: 40%;
    margin-left: 200px;
}
.instruction-img {
    position: absolute;
    bottom: 0;
    right: 0;
}
/* Instructions End */

/* Slider Start */
.about-slider-wrapper img {
    width: 100%;
    border-radius: 40px;
}
.slick-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: row;
    overflow: hidden;
    margin-bottom: 100px;
}
.slick-dots li {
    background: #606B13;
    color: #000;
    border-radius: 50%;
    padding: 0;
    width: 10px;
    height: 10px;
}
.slick-dots li button {
    display: none;
}
.slick-dots {
    bottom: -20px;
    border: 1px solid #E1E0CC;
    display: flex !important; 
    max-width: max-content !important;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    padding: 10px 15px !important;
    border-radius: 30px;
}
.slider-item {
    width: 5%;
    margin: 0 20px;
}
.slider-item h2 {
    font-size: 20px;
    padding: 15px 0 5px 0;
}
.slider-item p {
    font-family: 'Plain Baltica';
    line-height: 22px;
    font-size: 16px;
    color: #000;
}
.slider-about-text {
    max-width: 100%;
    padding-bottom: 30px;
}
.slick-dots .slick-active {
    background: #DFE3C5;
    border: 7px solid rgb(96,107,19);
    padding: 5px;
}
.slick-wrapper {
    padding: 40px 0;
}
.about-slider-wrapper {
    position: relative;
    background-color: rgb(248,247,243);
    padding-bottom: 30px;
}
/* Slider End */

/* Plasctic Banner Start */
.plastic-banner-wrapper {
    position: relative;
    text-align: center;
    max-width: 1300px;
    margin: 100px auto;
}
.banner-bg {
    background-color: #606b13;
    padding: 125px 0px;
    border-radius: 30px;
    min-height: 400px;
}
.plastic-banner-wrapper .banner-text {
    max-width: 500px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 15;
}
.plastic-banner-wrapper .banner-text {
    color: #F8F7F3;
}
.plastic-banner-wrapper .banner-text h3 {
    font-size: 34px;
    color: #F8F7F3;
    line-height: 28px;
}
.text {
    font-family: 'Plain Baltica';
}
.text-i {
    font-family: 'Plain Baltica';
    font-style: italic;
}
.plastic-banner-wrapper .banner-text p {
    font-family: 'Plain Baltica';
    line-height: 26px;
    font-size: 17px;
}
.plastic-banner-wrapper .banner-text h3 span {
    font-family: 'Plain Baltica';
    font-style: italic;
    margin-top: 10px;
    display: block;
    margin-bottom: 30px;
}
.plastic-banner-wrapper img {
    position: absolute;
}
#three-razor {
    bottom: 0;
    left: 0;
}
#two-razor {
    top: 0;
    right: 0;
}
#one-razor {
    right: 120px;
    bottom: -140px;
}
/* Plasctic Banner End */

/* Safety Razor Start */
.safety-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.safety-text {
    width: 28%;
    margin: auto auto auto 100px;
}
.safety-wrapper .safety-text h3 {
    font-size: 34px;
    line-height: 1.2;
    margin-bottom: 10px;
}
.safety-wrapper .safety-text p {
    margin: 15px 0;
    font-size: 18px;
    line-height: 1.3;
    margin-bottom: 30px;
}
.safety-wrapper .safety-text a {
    border: 1px solid rgb(96,107,19);
    border-radius: 7px;
    font-size: 18px;
    font-family: 'Plain Baltica';
    text-transform: capitalize;
    color: rgb(96,107,19);
    padding: 20px 40px;
    transition: all;
    transition-duration: 0.5s;
    display: inline-block;
}
.safety-wrapper .safety-text a:hover {
    background: rgb(96,107,19);
    color: #fff;
}
/* Safety Razor End */

/* Ecology Slider Start */
.eco-wrapper {
    overflow: hidden;
    position: relative;
    width: 98%;
    margin: 0 0 30px auto;
}
.eco-wrapper img {
    width: 100%;
}
.eco-item {
    width: 12%;
    padding: 100px 0;
}
.slick-active {
    opacity:1!important;
    transition:opacity 1s ease-in;
}
.eco-item .eco-text {
    width: 30%;
    box-sizing: border-box;
    float: left;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-height: 450px;
}
.eco-text h4 {
    font-size: 23px;
    margin: 0;
    line-height: 32px;
}
.eco-text p {
    font-size: 34px;
    font-style: italic;
    margin-bottom: 120px;
    letter-spacing: -1px;
    padding: 0 10px;
}
.eco-img span {
    overflow: hidden;
}
.eco-wrapper .slick-dots {
    left: 0;
    bottom: 15%;
}
.eco-img span:first-child {
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}
.eco-item .eco-img {
    width: 70%;
    box-sizing: border-box;
    float: right;
    max-height: 450px;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.eco-item .eco-img img {
    display: inline;

}
.eco-item .eco-img span:first-child {
    width: 250%;
}
.eco-item .eco-img span:last-child {
    overflow: hidden;
}
.eco-item .eco-img span:last-child img {
    width: 160%;
}
/* Ecology Slider End */

/* Tiles Gallery Start */
.tiles-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    position: relative;
}
.tiles-wrapper img {
    width: 100%;
    display: block;
}
.tiles-wrapper .col {
    padding: 0;
}
.tile-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #E1E0CC !important;
    z-index: 15;
    width: 75%;
}
.tile-text h5 {
    font-size: 34px;
    color: #E1E0CC !important;
}
.tile-left, .tile-right {
    position: relative;
}
.tiles-wrapper span {
    background-color: #000;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    opacity: 0.3;
}
.tile-right h5 {
    font-style: italic;
    letter-spacing: -1px;
    margin-top: 40px;
}
.tile-text a {
    background-color: #E1E0CC;
    color: #606B13;
    padding: 20px 60px;
    border-radius: 7px;
    margin-top: 30px;
    display: inline-block;
    font-family: 'Plain Baltica';
    font-weight: bold;
    font-size: 17px;
    transition: all;
    transition-duration: 0.5s;
}
.tile-text a:hover {
    background-color: #cbc9a9;
}
/* Tiles Gallery End */

/* About Page End */

 /* Media Start */
    @media all and (max-width: 1450px) {
        .product-main-line article {
            width: 45%;
            box-sizing: border-box;
        }
        .product-main-line article:last-of-type .img-main-line {
            position: absolute;
            top: -200px;
            left: -170px
        }
        .product-main-line article:first-of-type .img-main-line {
            position: absolute;
            top: -200px;
            right: -150px;
        }
        .product-main-line article {
            background: unset;
        }
        .product-main-line article:last-of-type .product-text-main {
            background: #F8F7F3;
            border-radius: 0px 30px 30px 70px;
            width: 100%;
        }
        .product-main-line article:first-of-type .product-text-main {
            background: #F8F7F3;
            width: 93%;
            border-top-right-radius: 40px;
            border-top-left-radius: 30px;
            border-bottom-left-radius: 30px;
        }
        .product-main-line article:last-of-type {
            padding-left: 20px;
        }
    }
    @media all and (max-width: 1250px) {
        .product-main-line.container {
            width: 90%;
        }
        .products-main {
            padding-bottom: 64px;
        }
        .all-sales-wrapper.container {
            width: 90%;
        }
        .footer-content.container.row {
            width: 90%;
        }
        .showcase-text-wrapper {
            bottom: 100px;
        }
        .eco-item .eco-img span:last-child {
            width: 30%;
        }
        .eco-item .eco-img span:first-child {
            width: 70%;
        }
    }
    @media all and (max-width: 1150px) {
        .eco-wrapper img {
            height: 100%;
            width: unset;
        }
        .eco-item .eco-img span:last-child img {
            width: unset;
        }
        .safety-wrapper .safety-img {
            width: 50%;
        }
        .safety-wrapper .safety-img img {
            width: 100%;
        }
        .safety-wrapper .safety-text {
            width: 45%;
            margin: 0 auto;
        }
        .safety-wrapper {
            display: flex;
            justify-content: space-between;
        }
    }
    @media all and (max-width: 1000px) {
        .product-main-line article:first-of-type .img-main-line {
            position: absolute;
            top: -200px;
            right: 100px;
        }
        .eco-img {
            width: 100% !important;
            margin: 0 auto;
            max-height: 400px !important;
        }
        div.eco-img > span:nth-child(1) > img {
            height: 130%;
        }
        .eco-wrapper .slick-dots {
            bottom: 1%;
            left: 50%;
            transform: translate(-50%, -50%);
            max-width: min-content;
        }  
        .eco-text .title {
            font-size: 20px;
        }
        .eco-text p {
            font-size: 25px;
        }
        .eco-wrapper {
            margin-bottom: 0 !important;
        }     
        .eco-text {
            width: 100% !important;
            display: flex;
            justify-content: flex-start !important;
            flex-direction: column;
            min-height: unset !important;
        }
        .eco-text p {
            padding: 0;
            margin-bottom: 20px;
        }
        .eco-item {
            display: flex !important;
            justify-content: center;
            flex-direction: column;
        }
        .instruction-wrapper .instruction-text {
            width: 50%;
            box-sizing: border-box;
        }
        .instruction-wrapper .instruction-img-wrapper img {
            width: 100%;
        }
        .instruction-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 30px 30px 60px 30px    ;
        }
        .instruction-text h2 {
            font-size: 30px;
        }
        .safety-wrapper .safety-text h3 {
            font-size: 27px;
        }
        .safety-wrapper .safety-text p, .safety-wrapper .safety-text a {
            font-size: 16px;
        }
        .eco-item .eco-text  
        .safety-wrapper .safety-text a {
            display: block;
            text-align: center;
        }
        .instruction-wrapper .instruction-img {
            width: 50%;
            box-sizing: border-box;
        }
        .plastic-banner-wrapper {
            padding: 0 30px;
            overflow: hidden;
        }
        .banner-text {
            width: 80%;
        }
        .banner-bg {
            z-index: 19;
            position: relative;
            overflow: hidden;
        }
        #three-razor {
            left: -100px;
        }
        #two-razor {
            right: -60px;
        }
        #video-main {
            height: 90vh;
        }
        div.email-footer.col.s12.l6 > h6 > br {
            display: none;
        }
        .slider-img-wrapper {
            padding-top: 30px;
        }
         body > footer > div > div.email-footer.col.s12.l6 > form > input {
            width: 95% !important;
            margin: auto
        } 
        footer .email-footer form {
            width: 100%;
            display: block;
            max-width: unset;
            margin-bottom: 80px;
        }
        .swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
            bottom: 380px !important;
            left: 15%;    
            position: absolute;
        }
        .showcase-text-wrapper p {
            font-size: 35px !important;
        }
        .insta-link {
            text-align: left;
            width: 100%;
        }
        .insta-link a {
            display: inline-block;
            text-align: center;
        }
        .kit-text p.right {
            clear: both;
            float: none !important;
        }
        .insta-photos.row .material-placeholder > div {
            margin: 10px 0;
        }
        .insta-title {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            text-align: left;
            width: 100%;
        }
        .insta-title h5 {
            display: block;
            width: 100%;
            margin-bottom: 20px;
        }
        .kit-text .title {
            clear: both;
            float: none !important;
        }
        .kit-descript { 
            font-size: 16px !important;
        }
        .slider-img, .slider-text {
            width: 70%;
        }
        .main-title {
            position: static;
            text-align: center;
            padding-top: 80px;
        }
        .kit-wrapper > a {
            width: 48%;
            margin-bottom: 40px;
        }
        .kit-wrapper > article {
            width: 100%;
        }
        .sale-product-main {
            flex-direction: column-reverse;
        }
        .product-sale-text {
            width: 100%;
        }
        .product-sale-img span {
            border-radius: 30px 30px 0 0;
        }
        .product-sale-text h3 {
            font-size: 30px;
        }
        .product-sale-text p {
            font-size: 28px;
        }
        .product-sale-text p {
            font-size: 28px;
        }
        .product-sale-img {
            width: 100%;
        }
        .all-sales-wrapper.container {
            width: 95%;
        }
        .products-main {
            padding: 52px 0;
        }
        .product-text-main {
            z-index: 5;
            width: 100%  !important;
            border-radius: 30px !important;
            padding: 30px !important;
        }
        .product-main-line article {
            width: 50%;
        }
        .product-main-line article:last-of-type .img-main-line {
            position: absolute;
            top: -220px;
            left: -50px;
        }
        .product-main-line article:first-of-type .img-main-line {
            position: absolute;
            top: -220px;
            right: 20px
        }
        
    }
    @media all and (max-width: 800px) {
        .swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
            bottom: 410px !important;
        }
        .slider-img, .slider-text {
            width: 85%;
        }
    }
    @media all and (max-width: 768px) {
        .product-main-line {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }

        .slider-img-wrapper {
            padding-bottom: 0;
        }
        .insta-photos > div {
            padding: 10px auto;
        }
        .swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
            margin-bottom: 50px;
        }
        .banner-text .title {
            font-size: 28px !important;
        }
        .modern-title h1 {
            font-size: 29px !important;
            padding: 10px 20px;
        }
        .instruction-wrapper {
            display: flex;
            flex-direction: column;
            padding: 0;
        }
        .instruction-img {
            position: static;
            width: 70% !important;
            margin: 0 0 0 auto;
        }
        .instruction-text {
            width: 70% !important;
            font-size: 20px !important;
        }
        .instruction-text h2 {
            font-size: 25px;
        }
        .instruction-text a {
            display: block;
            text-align: center;
        }
        .instruction-img-wrapper {
            width: 100%;
            margin-left: 0 !important; 
        }
        .banner-text p {
            font-size: 16px !important;
        }
        .safety-wrapper {
            display: flex;
            flex-direction: column-reverse;
        }
        .safety-wrapper .safety-text a {
            display: block;
            text-align: center;
        }
        .safety-wrapper .safety-img {
            width: 100%;
            margin-top: 50px;
        }
        .tile-text .title {
            font-size: 23px;
        }
        #three-razor {
            left: -180px;
        }
        #two-razor {
            right: -100px;
        }
        .tile-text a {
            font-size: 16px;
        }
        .safety-wrapper .safety-img img {
            width: 70%;
        }
        .safety-text {
            width: 80% !important;
        }
        .sidenav-trigger {
            display: block;
        }
        footer .email-footer h6 {
            font-size: 22px;
        }
        footer .email-footer form button {
            top: 6px;
            right: 17px;
        }
        body > footer > div > div.email-footer.col.s12.l6 > form > input {
            width: 90% !important;
        }
        nav .sidenav-trigger {
            margin: 0;
        }
        .mobile-bag {
            display: block !important;
        }
        .mobile-bag .menu li a {
            margin: auto;
        }
        .mobile-bag .menu {
            display: block;
        }
        .mobile-bag a {
            display: block;
        }
        .menu-right {
            display: none;
        }
        header .menu, header .menu-left {
            display: none;
        }
        header .header-content {
            justify-content: space-between;
            flex-direction: row-reverse;
        }
        .product-sale-text h3, .product-sale-text p {
            font-size: 20px;
        }
        .product-sale-text {
            padding: 30px;
        }
        .showcase-text-wrapper p {
            font-size: 28px !important;
        }
        .showcase-text-wrapper h2 {
            font-size: 18px;
        }
        .sidenav-trigger {
            display: block;
        }
        .video-wrapper .video-control {
            right: 20px;
            bottom: 20px;
            padding: 16px 18px;
        }
        .background-left {
                top: 60%;
        }
        .product-main-title h2 span {
            font-size: 30px;
        }
        .product-main-title h2 {
            font-size: 30px;
        }
        .product-main-title p {
            font-size: 16px;
        }
        .product-main-line article {
            margin: 200px 0 auto auto;
            width: 95%;
        }
        .product-text-main {
            border-radius: 30px 0 0 30px !important;
        }
        .product-main-line.container {
            width: 100%;
        }
        .product-main-line article:last-of-type .img-main-line {
            position: absolute;
            top: -300px;
        }
        .product-main-line article:first-of-type .img-main-line {
            position: absolute;
            top: -310px;
            right: 10%;
        }
        .product-main-line article:last-of-type {
            padding: unset;
            margin-top: 400px;
        }
        .background-right {
            top: 10%;
        }
        .background-mobile {
            width: 400px;
            height: 401px;
            background-image: url(../images/bg-mobile.png);
            position: absolute;
            background-repeat: no-repeat;
            background-size: cover;
            right: 0;
            top: 225px;
        }
        .kit-wrapper > article {
            width: 95%;
            margin: 10px auto;
            padding: 30px;
        }
        .sale-product-main {
            width: 95%;
            margin: 30px auto;
        }

    }
    @media all and (max-width: 675px) {
        .swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
            position: static;
        }

        .modern-title h1 {
            font-size: 25px !important;
        }
        .product-sale-img img {
            border-radius: 0;
        }
        .plastic-banner-wrapper .banner-text {
            width: 90%;
        }
        #three-razor {
            left: -260px !important;
            bottom: -262px;
        }
        .tile-text h5 {
            font-size: 23px !important;
        }
        .eco-item .eco-img span:first-child {
            width: 90%;
        }
        .tile-text a {
            margin-top: 10px;
            display: block;
            padding: 20px 0;
            font-size: 15px;
        }
        .kit-wrapper article p {
            font-size: 15px;
        }
        .product-main-title {
            padding: 0 10px;
        }
        .product-main-title h2, .product-main-title h2 span {
            font-size: 25px !important;
        }
        .product-main-title p {
            font-size: 15px;
        }
        .footer-menu ul li a {
            font-size: 15px !important;
        }
        .footer-menu {
            margin-bottom: 40px;
        }
        .insta-wrapper {
            padding: 20px;
        }
        #two-razor {
            right: -190px;
        }
        #three-razor {
            left: -200px;
        }
        .slider-title {
            margin: 40px 0;
        }
        .slider-pic-wrapper {
            width: 80%;
        }
        .main-title {
            font-size: 20px;
        }
        .swiper-slide p.review-text {
            font-size: 25px !important;
            line-height: normal;
        }
        .kit-wrapper > a {
            width: 95%;
            margin: 30px auto;
        }
        .kit-item {
            margin: 30px 0;
        }
        .kit-wrapper article h3 {
            font-size: 19px;
        }
        .insta-title .insta-link p {
            font-size: 16px;
        }
        .insta-title h5, .insta-title h5 span {
            font-size: 23px;
        }
        .insta-photos.row .material-placeholder > div {
            padding: 0;
        }
    }
    @media all and (max-width: 500px) {
        #three-razor {
            left: -300px !important;
        }
        .eco-text p {
            font-size: 23px;
        }
        .instruction-text a {
            padding: 20px 0;
        }
        
        .eco-text h4 {
            line-height: 23px;
            margin-bottom: 10px;
        }
        .modern-title h1 {
            font-size: 22px !important;
        }
        .instruction-text h2 {
            font-size: 22px;
        }
        .plastic-banner-wrapper .banner-text h3 {
            font-size: 22px !important;
        }
        .banner-text p {
            font-size: 15px;
        }
        .banner-text .title {
            line-height: 18px !important;
        }
        .safety-wrapper .safety-text h3 {
            font-size: 22px;
        }
        .tile-text h5 {
            font-size: 22px !important;
        }
        #one-razor {
            right: -30px;
        }
        #two-razor {
            right: -260px;
        }
        .banner-text .title {
            font-size: 25px !important;
            line-height: 24px !important;
        }
        .plastic-banner-wrapper {
            padding: 0 10px !important;
        }
    }
    @media all and (max-width: 410px) {
        .background-mobile {
            top: 250px;
        }
        .tile-text h5 {
            font-size: 20px !important;
        }
        .showcase-text-wrapper {
            bottom: 100px;
            left: 0px;
            padding: 0 20px;
        }
        .product-main-line article:last-of-type .img-main-line {
            left: -100px;
        }
        .showcase-text-wrapper a {
            display: block;
            text-align: center;
        }
        #video-main {
            height: 100vh;
        }
        .main-title {
            font-size: 16px;
        }
        .swiper-slide p.review-text {
            font-size: 20px !important;
        }
        .slider-img, .slider-text {
            width: unset;
            padding: 0 20px;
        }
        .review-author, .review-company {
            text-align: center;
        }
    }
 /* Media End */